In [120]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import binom

In [2]:
df = pd.read_csv(r"C:\Users\VINEET\Desktop\Data Analytics\Graded Project on statistics\property.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [3]:
df.info

<bound method DataFrame.info of               Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]>

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [6]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# Step 1: Handle Missing Values
# Droping rows where 'Price' is missing

In [8]:

df_cleaned = df.dropna(subset=['Price'])
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

# Filling missing values in 'Car', 'BuildingArea', and 'YearBuilt' with median values

In [10]:
df_cleaned['Car'].fillna(df_cleaned['Car'].median(), inplace=True)
df_cleaned['BuildingArea'].fillna(df_cleaned['BuildingArea'].median(), inplace=True)
df_cleaned['YearBuilt'].fillna(df_cleaned['YearBuilt'].median(), inplace=True)


# Filling missing 'CouncilArea' with the most frequent value

df_cleaned['CouncilArea'].fillna(df_cleaned['CouncilArea'].mode()[0], inplace=True)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

# Step 2: Handle Duplicates

In [12]:
df_cleaned.drop_duplicates(inplace=True)

In [13]:
df_cleaned.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Step 3: Remove Outliers in 'Price'
# Using IQR to remove outliers in 'Price'

In [15]:
Q1 = df_cleaned['Price'].quantile(0.25)
Q3 = df_cleaned['Price'].quantile(0.75)
IQR = Q3 - Q3
df_cleaned = df_cleaned[(df_cleaned['Price'] >= (Q1 - 1.5 * IQR)) & (df_cleaned['Price'] <= (Q3 + 1.5 * IQR))]

In [16]:
df_cleaned

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,126.0,1970.0,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,126.0,1970.0,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,1.0,210.0,79.0,2006.0,Moreland,-37.70657,145.07878,Northern Metropolitan,2329.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,126.0,1981.0,Moreland,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,Moreland,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,126.0,1997.0,Moreland,-37.85274,144.88738,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,Moreland,-37.81188,144.88449,Western Metropolitan,6543.0

In [17]:
df_cleaned.info()  # To check the cleaning results

<class 'pandas.core.frame.DataFrame'>
Index: 6829 entries, 1 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6829 non-null   object
 1   Address        6829 non-null   object
 2   Rooms          6829 non-null   int64
 3   Type           6829 non-null   object
 4   Price          6829 non-null   float64
 5   Method         6829 non-null   object
 6   SellerG        6829 non-null   object
 7   Date           6829 non-null   object
 8   Distance       6829 non-null   float64
 9   Postcode       6829 non-null   float64
 10  Bedroom2       6829 non-null   float64
 11  Bathroom       6829 non-null   float64
 12  Car            6829 non-null   float64
 13  Landsize       6829 non-null   float64
 14  BuildingArea   6829 non-null   float64
 15  YearBuilt      6829 non-null   float64
 16  CouncilArea    6829 non-null   object
 17  Lattitude      6829 non-null   float64
 18  Longtitude     6829 non-null   float64
 19  Regionname     6829 non-null   object
 20  Propertycount  6829 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.1+ MB

In [19]:
df_cleaned.describe()  # Summary statistics after cleaning

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6829.000000,6.829000e+03,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000,6829.000000
mean,2.971445,9.363703e+05,10.507702,3096.078196,2.948162,1.487480,1.634207,514.577098,133.985577,1966.962659,-37.805239,144.998795,7264.905843
std,0.795733,1.954621e+05,5.769670,84.211370,0.802899,0.617336,0.971945,1386.774606,104.284524,28.578424,0.079841,0.105319,4449.512458
min,1.000000,6.500000e+05,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.564440,389.000000
25%,2.000000,7.700000e+05,6.500000,3042.000000,2.000000,1.000000,1.000000,207.000000,125.000000,1960.000000,-37.851000,144.919500,3891.000000
50%,3.000000,9.020000e+05,9.900000,3073.000000,3.000000,1.000000,2.000000,445.000000,126.000000,1970.000000,-37.792940,144.996150,6244.000000
75%,3.000000,1.095000e+06,13.600000,3144.000000,3.000000,2.000000,2.000000,639.000000,126.000000,1970.000000,-37.747310,145.067400,9264.000000
max,10.000000,1.330000e+06,47.400000,3977.000000,10.000000,8.000000,10.000000,76000.000000,6791.000000,2018.000000,-37.457090,145.526350,21650.000000

# Q1. For the suburb Altona, it is postulated that a typical property sells for $800,000. Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased? Use a significance level of 5%.

# Step 1: Filtering the data for the suburb 'Altona'

In [35]:

altona_data = df[df['Suburb'] == 'Altona']

# Step 2: Performing a one-sample t-test
# Hypothesized population mean price
hypothesized_price = 800000

# Removing missing values in 'Price'
altona_prices = altona_data['Price'].dropna()

# Performing the one-sample t-test
t_stat, p_value = stats.ttest_1samp(altona_prices, hypothesized_price)

# Step 3: Results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 1.0277020770199676
P-value: 0.307483271305555

In [37]:
# Step 4: Comparing with significance level
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. The typical property price is significantly different from $800,000.")
else:
    print("Fail to reject the null hypothesis. The typical property price is not significantly different from $800,000.")

Fail to reject the null hypothesis. The typical property price is not significantly different from $800,000.

# Step 1: Ensureing the 'Date' column is in datetime format to avoid .dt accessor issues

In [70]:
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], errors='coerce', format='%d/%m/%Y')

# Step 2: Filter data for the year 2016

In [73]:
df_2016 = df_cleaned[df_cleaned['Date'].dt.year == 2016]

# Defining winter (October to March) and summer (April to September) months

In [76]:
winter_months = [10, 11, 12, 1, 2, 3]
summer_months = [4, 5, 6, 7, 8, 9]

# Separating the data into winter and summer months

In [81]:

winter_data = df_2016[df_2016['Date'].dt.month.isin(winter_months)]
summer_data = df_2016[df_2016['Date'].dt.month.isin(summer_months)]


# Removing missing values in 'Price' for both groups

In [85]:
winter_prices = winter_data['Price'].dropna()
summer_prices = summer_data['Price'].dropna()

# Perform an independent t-test to compare means

In [88]:
t_stat, p_value = stats.ttest_ind(winter_prices, summer_prices)

# Step 3: Print the test results

In [91]:
print(f"\nT-statistic (Summer vs Winter 2016): {t_stat}")
print(f"P-value (Summer vs Winter 2016): {p_value}")

T-statistic (Summer vs Winter 2016): 2.705418804696008
P-value (Summer vs Winter 2016): 0.006859206395959675

# Step 4: Compare with significance level

In [94]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in property prices between summer and winter months in 2016.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in property prices between summer and winter months in 2016.")

Reject the null hypothesis. There is a significant difference in property prices between summer and winter months in 2016.

# Q3

# Step 1: Filtering data for the suburb 'Abbotsford'

In [98]:
abbotsford_data = df_cleaned[df_cleaned['Suburb'] == 'Abbotsford']

# Step 2: Calculating the probability of no car parking

In [107]:
# Assuming 'Car' column indicates the number of parking spaces
# We'll assume properties with 'Car' value of 0 represent no car parking
no_parking_count = (abbotsford_data['Car'] == 0).sum()
total_properties = len(abbotsford_data)

# Probability of a property without car parking (p)

In [109]:
p_no_parking = no_parking_count / total_properties

In [111]:
p_no_parking

0.3142857142857143

# Step 3: Calculate the probability using binomial distribution

In [115]:
n = 10  # Total number of properties
k = 3   # Number of properties without parking

# Binomial probability of exactly 3 properties without parking out of 10

In [122]:
probability = binom.pmf(k, n, p_no_parking)

# Step 4: Print the result rounded to 3 decimal places

In [125]:
print(f"The probability that 3 out of 10 properties will not have car parking is: {round(probability, 3)}")

The probability that 3 out of 10 properties will not have car parking is: 0.266

# Q4

# Step 1: Calculating the probability of finding a property with 3 rooms

In [146]:
three_room_count = (abbotsford_data['Rooms'] == 3).sum()
total_properties = len(abbotsford_data)

# Step 2: Probability calculation

In [149]:
probability_3_rooms = three_room_count / total_properties

# Step 4: Result rounded to 3 decimal places

In [152]:
print(f"The probability of finding a property with 3 rooms in Abbotsford is: {round(probability_3_rooms, 3)}")

The probability of finding a property with 3 rooms in Abbotsford is: 0.371

# Q5

# Step 1: Filter data for the suburb 'Abbotsford'

In [155]:
abbotsford_data = df_cleaned[df_cleaned['Suburb'] == 'Abbotsford']

# Step 2: Calculate the probability of finding a property with 2 bathrooms

In [158]:
two_bathroom_count = (abbotsford_data['Bathroom'] == 2).sum()
total_properties = len(abbotsford_data)

# Step 3: Probability calculation

In [161]:
probability_2_bathrooms = two_bathroom_count / total_properties

# Step 4: Print the result rounded to 3 decimal places

In [164]:
print(f"The probability of finding a property with 2 bathrooms in Abbotsford is: {round(probability_2_bathrooms, 3)}")

The probability of finding a property with 2 bathrooms in Abbotsford is: 0.429